:root, [data-bs-theme=light], [data-bs-theme=dark] {
  --bs-border-radius: 0;
  --bs-border-radius-sm: 0;
  --bs-border-radius-lg: 0;
  --bs-border-radius-xl: 0;
  --bs-border-radius-xxl: 0;
}

@media (min-width: 2560px) {
  html {
    font-size: 1vw;
  }
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.overhead {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
  height: 1rem;
}
[data-bs-theme=dark] .overhead {
  background: #212529;
}
[data-bs-theme=light] .overhead {
  background: #FFFFFF;
}

@media (max-width: 992px) {
  .col-auto {
    display: none;
    width: 0;
  }
}

[class*=col-] #sidebar {
  min-width: 20rem;
  position: sticky;
  top: 1rem;
}
@media (max-width: 992px) {
  [class*=col-] #sidebar {
    display: none;
    position: fixed;
    left: -20rem;
  }
}
#sidebar-content {
  height: 100vh;
}
#sidebar .card {
  border: none;
  height: 100vh;
}
#sidebar .card-header {
  padding: 2rem 1rem;
  border: none;
}
#sidebar #profile-picture {
  width: 100%;
  padding-bottom: 1rem;
}
#sidebar #profile-picture img {
  max-width: 9rem;
}
#sidebar #profile-picture:not(.placeholder) {
  text-align: center;
}
#sidebar #profile-picture:not(.placeholder) img {
  border-radius: 50%;
  background: url("../images/profile/profile_picture.jpeg") no-repeat center center;
  background-size: contain;
}
#sidebar h1 {
  padding: 1rem 0 0 0;
}
#sidebar .links-list {
  padding: 0 0 0 2rem;
  list-style: none;
  font-size: 1.125rem;
  margin: 0.5rem 0;
}
#sidebar .links-list li {
  padding: 0.125rem 0;
}
#sidebar .links-list li a {
  text-decoration: none;
}
#sidebar .links-list li a i {
  margin-right: 0.5rem;
}

.company-logo {
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  border-radius: 50%;
}

header {
  position: sticky;
  top: 1rem;
  padding: 0.75rem 1rem;
}
[data-bs-theme=light] header {
  background: #F8F8F8;
}
[data-bs-theme=dark] header {
  background: #272B2F;
}

#main-content {
  padding: 2rem 0.5rem;
}

.aim {
  color: var(--bs-primary);
}

#qrModal .modal-body {
  padding: 0;
}

.qr-v-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
[data-bs-theme=light] .qr-v-card {
  background-image: url("../../../public/vcard/light/qrcode.svg");
}
[data-bs-theme=dark] .qr-v-card {
  background-image: url("../../../public/vcard/dark/qrcode.svg");
}