:root, [data-bs-theme=light], [data-bs-theme=dark] {
  --bs-border-radius: 0;
  --bs-border-radius-sm: 0;
  --bs-border-radius-lg: 0;
  --bs-border-radius-xl: 0;
  --bs-border-radius-xxl: 0;
}

@media (min-width: 2560px) {
  html {
    font-size: 1vw;
  }
}

@media (max-width: 768px) {
  html {
    //font-size-adjust: 0.5;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.overhead {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
  height: 1rem;

  [data-bs-theme=dark] & {
    background: #212529;
  }
  [data-bs-theme=light] & {
    background: #FFFFFF;
  }
}


#wrapper {
  //max-width: 1680px;
  //margin: 0 auto;
}

@import "partials/sidebar";



.company-logo {
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  border-radius: 50%;
}


.profile-picture {
  width: 100%;
  padding-bottom: 1rem;

  img {
    max-width: 9rem;
  }

  &:not(.placeholder) {
    text-align: center;

    img {
      border-radius: 50%;
      background: url("../images/profile/profile_picture.jpeg") no-repeat center center;
      background-size: contain;
    }
  }
}


header {
  position: sticky;
  top: 1rem;
  padding: .75rem 1rem;

  .theme-toggler {
    border-radius: 50%;
    span {
      font-size: 1.25rem;
      &:before {
        font-family: 'Font Awesome 6 Free', serif;
      }
    }
  }

  [data-bs-theme=light] & {
    background: #F8F8F8;

    .theme-toggler {
      span {
        &:before {
          content: '\f186';
        }
      }
    }
  }

  [data-bs-theme=dark] & {
    background: #272B2F;
    .theme-toggler {
      span {
        &:before {
          content: '\f185';
        }
      }
    }
  }

}

.navbar-toggler {
  display: none;
  @media (max-width: 992px) {
    display: block;
  }
}

#main-content {
  padding: 2rem .5rem;
}

.aim {
  color: var(--bs-primary);
}


#qrModal {
  .modal-body {
    padding: 0;
  }
}

.qr-v-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  [data-bs-theme=light] & {
    background-image: url("../../../public/vcard/light/qrcode.svg");
  }

  [data-bs-theme=dark] & {
    background-image: url("../../../public/vcard/dark/qrcode.svg");
  }
}

