.col-auto {
  @media (max-width: 992px) {
    display: none;
    width: 0;
  }
}


#sidebar {

  [class*=col-] & {
    min-width: 20rem;
    position: sticky;
    top: 1rem;

    @media (max-width: 992px) {
      display: none;
      position: fixed;
      left: -20rem;
    }
  }

  &-content {
    height: 100vh;
  }

  .card {
    border: none;
    height: 100vh;
    &-header {
      //text-align: center;
      padding: 2rem 1rem;
      border: none;
    }
    &-body {
      //background: lighten(#272B2F, 2%);
    }
  }

  #profile-picture {
    width: 100%;
    padding-bottom: 1rem;

    img {
      max-width: 9rem;
    }

    &:not(.placeholder) {
      text-align: center;

      img {
        border-radius: 50%;
        background: url("../images/profile/profile_picture.jpeg") no-repeat center center;
        background-size: contain;
      }
    }
  }

  h1 {
    padding: 1rem 0 0 0;
    //font-size: 2.25rem;
  }
  address {
    //text-align: center;
  }

  .links-list {
    padding: 0 0 0 2rem;
    list-style: none;
    font-size: 1.125rem;
    margin: .5rem 0;
    li {
      padding: 0.125rem 0;
      a {
        text-decoration: none;
        i {
          margin-right: 0.5rem;
        }
      }
    }
  }

}